[submodule "lib/ENES100ArduinoLibrary"]
	path = lib/ENES100ArduinoLibrary
	url = https://github.com/umdenes100/ENES100ArduinoLibrary.git
[submodule "lib/TankArduinoLibrary"]
	path = lib/TankArduinoLibrary
	url = https://github.com/umdenes100/TankArduinoLibrary.git
[submodule "lib/DFRobotIRPosition"]
	path = lib/DFRobotIRPosition
	url = https://github.com/DFRobot/DFRobotIRPosition.git
[submodule "lib/MemoryFree"]
	path = lib/MemoryFree
	url = https://github.com/sudar/MemoryFree.git
